.logopagina {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  
}


.rrss {
  
  height: 40px;
  font-size: 20px;
  text-decoration: none;
  color: aliceblue;
  font-weight: bolder;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}

.rrss:hover::before {
  transform: translateY(10px) scaleX(0.2) scaleY(2);
  filter: blur(20px);
}
.rrss:hover:nth-child(1) {
  color: #2ff61d;
  text-shadow: 0 0 40px #c32aa3;
}


.logowd {
  width: 6rem;
  height: 6rem;
  border-radius: 20%;
  filter: grayscale(1);
}
.logowd:hover{
  filter: grayscale(0);
}

.wd{
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 font-weight: bolder;
}

.quienes{
  font-size: 4rem;
  font-family: 'Benne', serif;
  text-align: center;
  text-shadow: 0 0 40px #c32aa3
}

.imagenSidebar{
  max-width: 200px;
  max-height: 100px;
  }

  .spanSidebar{
    font-size: 15px;
  }